:root {
    --highlight: #a0f750;
    --dark: #202013;
    --light: #7297e7;
    --text: #ffffff;
}

body {
    background-color: var(--dark);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

h1,
h2,
h3 {
    color: var(--light);
    line-height: 1.2;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

code {
    font-family: monospace;
}

header {
    text-align: center;
    padding: 10px;
    width: 96%;
}

main {
    width: 96%;
    margin: 10px auto;
}

footer {
    width: 96%;
    text-align: center;
    margin: 10px;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.columns {
    flex: 1 0 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.code-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    outline: 2px dashed var(--text);
    padding: 10px;
    margin: 10px;
}

.code-box h2 {
    border: 1px solid var(--text);
    margin: -20px 0 10px 0;
    border-radius: 10px;
    position: relative;
    background-color: var(--dark);
}

pre {
    white-space: pre-wrap;
    overflow: auto;
    border-radius: 10px;
    background-image: linear-gradient(
        rgba(114, 151, 231, 0.2) 0%,
        rgba(114, 151, 231, 0.7) 100%);
    margin: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.code-box h2 {
    border: 1px solid var(--text);
    margin: -25px 0 10px 0;
    border-radius: 10px;
    position: relative;
    background-color: var(--dark);
    transition: all 0.5s ease-in-out;
    padding: 5px;
}

.code-box:hover,
.code-box:hover h2 {
    box-shadow: inset 0px 0px 8px rgba(114, 151, 231, 1), 0 0 15px rgba(114, 151, 231, 1);
}

::selection {
    background-color: var(--highlight);
    color: var(--dark);
}

.code-box pre {
    user-select: all;
    flex-grow: 1
}

@media screen and (min-width:768px) {
    .columns {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width:992px) {
    .columns {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}